/* Reindeer theme */
.v-popuptextfield {
	height: 26px;
	white-space: nowrap;
}

.v-popuptextfield .v-textfield {
	height: 15px;
	vertical-align: top;
	border-right-width: 0;
	-moz-border-radius-topright: 0;
	-moz-border-radius-bottomright: 0;
	-webkit-border-top-right-radius: 0;
	-webkit-border-bottom-right-radius: 0;
	vertical-align: top;
}

.v-popuptextfield .v-textfield:focus .v-textfield-wrap {
	background-position: left -26px;
}

.v-popuptextfield .v-textfield .v-textfield-wrap,.v-popuptextfield div.v-disabled.v-textfield .v-textfield-wrap
	{
	background-position: left -130px;
}

.v-popuptextfield .v-textfield:active .v-textfield-wrap {
	background-position: left -78px;
}

.v-popuptextfield .v-button,.v-popuptextfield div.v-disabled.v-button {
	border-right: none;
	padding-left: none;
}

.v-popuptextfield .v-button {
	width: 25px;
	height: 24px;
	display: inline-block;
	cursor: pointer;
	background: url(img/popup_icon.png) no-repeat;
	display: inline-block;
}

.v-popuptextfield .v-button:focus {
	background: url(img/popup_icon.png) no-repeat;
}

.v-popuptextfield .v-button .v-button-wrap,.v-popuptextfield div.v-disabled.v-button .v-button-wrap
	{
	background: url(img/popup_icon.png) no-repeat;
	background-position: right -130px;
	padding-right: 10px;
}

.v-popuptextfield .v-button:focus .v-button-wrap {
	background: url(img/popup_icon.png) no-repeat;
	background-position: right -26px;
}

.v-popuptextfield .v-button:active,.v-popuptextfield .v-button.v-pressed
	{
	background: url(img/popup_icon.png) no-repeat;
}

.v-popuptextfield .v-button:active .v-button-wrap,.v-popuptextfield .v-button.v-pressed .v-button-wrap
	{
	background: url(img/popup_icon.png) no-repeat;
	background-position: right -78px;
}
}