@CHARSET "UTF-8";

@import "../reindeer/styles.css";

/* Application background */
.background {
	background: url("images/whitey.png") repeat scroll 0 0 #F7F5F5;
}

/* Menu styles */
.v-menubar {
	height: 40px;
	background: url("common/img/vertical-sprites.png") repeat-x scroll left -383px #323336;
}

.konekti_logo {	
	background: url("common/img/vertical-sprites.png") repeat-x scroll left -383px #323336;	
}

.konekti_logon {
	background: url("common/img/vertical-sprites.png") repeat-x scroll left -383px #323336;	
}

.v-popupbutton.v-button-link .v.button.wrap {
	
	color: #D1D3D6;
	text-shadow: 0 1px 0 rgba (0,0,0,0.9);
	text-decoration: none;
}

.v-menubar-menuitem {
	margin-top: 10px;	
}

.v-menubar-menuitem-help {
	margin-top: 0px;
}

/* Workbench Header styles */
.v-panel-content-header {
    background: url("common/img/vertical-sprites.png") repeat-x scroll left -383px #323336;
    border: medium none;
}

.v-customcomponent-toolbarLayout {
	padding: 0 16px;
}

.v-panel-content-header > div {
	background: transparent;
}

.v-label-header-konekti {
	color: white;
	font-size: 20px;
	font-family: verdana;
}

.v-label-header-version {
	color: white;
}

.v-label-header-logon {
	color: white;
	font-style: italic;
}

.v-label-nav-toolbar-separator {
	text-align: center;
}

/* Toolbars styles */
.toolbar_layout{
	display: inline-block;
	background-color: #F5F5F5;	
	border-bottom: 0.5px solid #BFBFBF;
	box-shadow: 0 -2.5px 0 rgba(0, 0, 0, 0.1) inset;
	min-height:36px;
    height:auto !important;
    height:36px; 
}

.toolbar {
	padding: 2.5px;
	float: left;
}

.toolbar .v-captiontext {
	width: 100%;
	text-align: center;
}

.v-disabled.counter{
	opacity: 1.0;
}

.calendar_card .working_day {
	background-color: white;
}

.calendar_card .holiday_day {
	background-color: red;
}

.atlwdg-trigger {
	z-index: 1000;
}

/* .filter-pressed { */
/* 	background-image: url("../reindeer/button/img/button-sprintes.png"); */
/* 	background-position: left -52px; */
/* 	outline: medium none;   */
/* } */

.v-button-NONE .v-button-caption {
	background:#27FC01;
	background:-moz-linear-gradient(top,#27FC01 0%,#36A223 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#27FC01),color-stop(100%,#36A223));
	background:-webkit-linear-gradient(top,#27FC01 0%,#36A223 100%);
	background:-o-linear-gradient(top,#27FC01 0%,#36A223 100%);
	background:-ms-linear-gradient(top,#27FC01 0%,#36A223 100%);
	background:linear-gradient(top,#27FC01 0%,#36A223 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#27FC01',endColorstr='#36A223',GradientType=0);
	padding:10px 15px;
	color:#fff;
	font-family:'Helvetica Neue',sans-serif;
	font-size:12px;
	border:1px solid #27FC01;
	
    text-decoration: none;
}

.v-button-MODIFY .v-button-caption {
	background:#F70310;
	background:-moz-linear-gradient(top,#F70310 0%,#B8010A 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#F70310),color-stop(100%,#B8010A));
	background:-webkit-linear-gradient(top,#F70310 0%,#B8010A 100%);
	background:-o-linear-gradient(top,#F70310 0%,#B8010A 100%);
	background:-ms-linear-gradient(top,#F70310 0%,#B8010A 100%);
	background:linear-gradient(top,#F70310 0%,#B8010A 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#F70310',endColorstr='#B8010A',GradientType=0);
	padding:10px 15px;
	color:#fff;
	font-family:'Helvetica Neue',sans-serif;
	font-size:12px;
	border:1px solid #F70310;
	
    text-decoration: none;
}