/*
*
*IKARUS DOCK
*
*/
.v-ikarusdock {
	
}

.v-ikarusdock-page-sample1 {
	padding-top: 80px;
	padding-left: 50px;
	padding-bottom: 20px;
	width: 100%;
}

}
.v-ikarusdock-menu-sample1 {
	
}

.v-ikarusdock-menu-sample1 div.jqDock {
	cursor: pointer;
}

/*label styling...*/
.v-ikarusdock-menu-sample1 div.jqDockLabel {
	padding-bottom: 15px;
	font-weight: bold;
	white-space: nowrap;
	color: black;
	cursor: pointer;
}
