/*
*
*IKARUS SLIDING PANEL
*
*/
.v-ikarusslidingpanel {
	background: transparent;
}

.v-ikarusslidingpanel-header {
	cursor: pointer;
	cursor: hand;
	margin: 0; /*NO MARGIN*/
	padding: 0; /*NO PADDING*/
}

.v-ikarusslidingpanel-header-left {
	width: 10px;
	height: 50px;
	font-size: 18px;
	color: white;
	margin-right: -37px;
	background: #000000;
	-moz-border-radius: 0 8px 0 8px;
	-webkit-border-top-left-radius: 0;
	-webkit-border-top-right-radius: 8px;
	-webkit-border-bottom-left-radius: 0;
	-webkit-border-bottom-right-radius: 8px;
	border-top-left-radius: 0;
	border-top-right-radius: 8px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 8px;
	-moz-box-shadow: -5px 5px 5px #999999;
	-webkit-box-shadow: -5px 5px 5px #999999;
	box-shadow: -5px 5px 5px #999999;
	behavior: url(ie-css3.htc);
	font-size: 18px;
}

.v-ikarusslidingpanel-header-right {
	width: 10px;
	height: 50px;
	font-size: 18px;
	color: white;
	background: #000000;
	-moz-border-radius: 8px 0 8px 0;
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 0;
	-webkit-border-bottom-left-radius: 8px;
	-webkit-border-bottom-right-radius: 0;
	border-top-left-radius: 8px;
	border-top-right-radius: 0;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 0;
	-moz-box-shadow: 5px 5px 5px #999999;
	-webkit-box-shadow: 5px 5px 5px #999999;
	box-shadow: 5px 5px 5px #999999;
	behavior: url(ie-css3.htc);
}

.v-ikarusslidingpanel-header-top {
	width: 50px;
	height: 10px;
	color: #ffffff;
	font: 18px/28px Arial, Helvetica, sans-serif;
	text-align: center;
	margin: auto;
	background: #0044FF;
	cursor: pointer;
	-moz-border-radius: 0 0 8px 8px;
	-webkit-border-top-left-radius: 0;
	-webkit-border-top-right-radius: 0;
	-webkit-border-bottom-left-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	-moz-box-shadow: 5px -5px 5px #999999;
	-webkit-box-shadow: 5px -5px 5px #999999;
	box-shadow: 5px -5px 5px #999999;
	text-shadow: 2px 2px 2px #333333;
	behavior: url(ie-css3.htc);
}

.v-ikarusslidingpanel-header-bottom {
	width: 50px;
	height: 10px;
	color: white;
	font: 18px/28px Arial, Helvetica, sans-serif;
	text-align: center;
	margin: auto;
	margin-top: 1px;
	background: #000000;
	cursor: pointer;
	-moz-border-radius: 8px 8px 0 0;
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	-webkit-border-bottom-left-radius: 0;
	-webkit-border-bottom-right-radius: 0;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	text-shadow: 2px 2px 2px #333333;
	-moz-box-shadow: 5px 5px 5px #999999;
	-webkit-box-shadow: 5px 5px 5px #999999;
	box-shadow: 5px 5px 5px #999999;
	behavior: url(ie-css3.htc);
}

.v-ikarusslidingpanel-content {
	border: 2px solid #4f4f4f;
	padding: 0px;
	margin: 0px;
	background-color: #949494;
}