<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>Vaadin Web Application</display-name>

	<context-param>
		<description>Vaadin production mode</description>
		<param-name>productionMode</param-name>
		<param-value>false</param-value>
	</context-param>

	<context-param>
		<param-name>contextClass</param-name>
		<param-value>org.eclipse.virgo.web.dm.ServerOsgiBundleXmlWebApplicationContext</param-value>
	</context-param>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>WEB-INF/spring/*.xml</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- Comet Application features configuration through Atmosphere framework -->
<!-- 	<servlet> -->
<!-- 		<description>AtmosphereServlet</description> -->
<!-- 		<servlet-name>AtmosphereServlet</servlet-name> -->
<!-- 		<servlet-class>org.atmosphere.cpr.AtmosphereServlet</servlet-class> -->
<!-- 		<init-param> -->
<!-- 			prevent deadlocks -->
<!-- 			<param-name>org.atmosphere.disableOnStateEvent</param-name> -->
<!-- 			<param-value>true</param-value> -->
<!-- 		</init-param> -->
<!-- 		<load-on-startup>1</load-on-startup> -->
<!-- 		Uncomment if you want to use Servlet 3.0 Async Support -->
<!-- 		<async-supported>true</async-supported> -->
<!-- 	</servlet> -->

<!-- 	<servlet-mapping> -->
<!-- 		<servlet-name>AtmosphereServlet</servlet-name> -->
<!-- 		<url-pattern>/UIDL/*</url-pattern> -->
<!-- 	</servlet-mapping> -->

	<servlet>
		<servlet-name>Vaadin Application Servlet</servlet-name>
<!-- 		<servlet-class>com.thingtrack.konekti.view.web.workbench.servlet.CometApplicationOSGiServlet</servlet-class> -->
		<servlet-class>com.vaadin.terminal.gwt.server.ApplicationOSGiServlet</servlet-class>
		<init-param>
			<description>Vaadin application class to start</description>
			<param-name>application</param-name>
			<param-value>com.thingtrack.konekti.view.web.workbench.Main</param-value>
		</init-param>
		<init-param>
			<description>Application widgetset</description>
			<param-name>widgetset</param-name>
			<param-value>com.thingtrack.konekti.view.web.widgetset.gwt.KonektiWidgetSet</param-value>
		</init-param>
		<init-param>
			<param-name>version</param-name>
			<param-value>0.0.1.SNAPSHOT</param-value>
		</init-param>
<!-- 		<load-on-startup>2</load-on-startup> -->
	</servlet>

	<servlet-mapping>
		<servlet-name>Vaadin Application Servlet</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>

	<!-- This servlet will help with the visualization of images inside jasper reports -->
	<servlet>
		<servlet-name>ImageServlet</servlet-name>
		<servlet-class>net.sf.jasperreports.j2ee.servlets.ImageServlet</servlet-class>
	</servlet>
	    
    <servlet-mapping>
        <servlet-name>Vaadin Application Servlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
    
	<servlet-mapping>
		<servlet-name>ImageServlet</servlet-name>
		<url-pattern>/image</url-pattern>
	</servlet-mapping>
	
	<!-- This servlet will generate dynamic map markers by configurating parameters passed to it -->
<!-- 	<servlet> -->
<!-- 		<servlet-name>marker-generator</servlet-name> -->
<!-- 		<servlet-class>com.thingtrack.konekti.view.web.workbench.servlet.MarkerGeneratorServlet</servlet-class>		 -->
<!-- 	</servlet> -->
	
<!-- 	<servlet-mapping> -->
<!-- 		<servlet-name>marker-generator</servlet-name> -->
<!-- 		<url-pattern>/marker</url-pattern> -->
<!-- 	</servlet-mapping>  	 -->
</web-app>
